<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quotes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
</head>
<body style="background-color: black">
    

    <div class="container-theme-showcase" role="main">
        <div style="color: #fff; background-color:grey", class="jumbotron">
            <h1>Quotes</h1>
        </div>
        {% for r in result %}
        <div style="color: #fff; background-color:blue">
            <h1>{{ r.author }}</h1>
        </div>
        <div style="color: #fff; font-size:28px; background-color:green">
            <p>{{ r.quote }}</p>
        </div>
        {% endfor %}
    </div>
    <nav style="margin-top: 25px; margin: left 45px">
        <a class="btn btn-primary" href="{{ url_for('quotes') }}">Add a quote</a>
    </nav>
    <br>
    
</body>
</html>